/* stijlen voor in de mainpaginaas */
body { font-size: 24pt; font-family: Verdana; color:#69002A;text-align:center;}
body#home {text-align:center;font-size: 24pt; font-family: Verdana; color:#FF0000;background-color: #000;} /* url(images/bg_strip5.gif) no-repeat */
h3 {color:#69002A}
h2 {color:#69002A}
font { font-size: 24pt; font-family: Verdana }
font.big { font-size: 24pt; font-family: Verdana; color: #69002A }


